.work-area {
    position: relative;
    width: 100%;
    min-height: 500px;
    max-height: 500px;
    height: 500px;
    background-color: #bdbdbd;
    overflow: hidden;
    margin-left: 16px;
}

.work-area .image-container {
    position: absolute;
    max-width: 300px;
}

.work-area .image-container img {
    width: 100%;
}